name: Oxydan Lichess Bot

on:
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v3

      - name: Python Kurulumu
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Motoru Derle
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential clang
          cd src
          clang -O3 -std=gnu11 -Wall -Wextra -DNDEBUG -flto -DUSE_NNUE=0 -march=native *.c pyrrhic/tbprobe.c -lpthread -lm -o Ethereal
          chmod +x Ethereal
          cd ..

      - name: Kutuphaneleri Kur
        run: |
          pip install chess python-chess berserk requests

      - name: Botu Baslat
        env:
          LICHESS_TOKEN: ${{ secrets.LICHESS_TOKEN }}
        run: |
          # Token'ı config içine yerleştir (Bağlantı için kritik)
          sed -i "s/\$LICHESS_TOKEN/$LICHESS_TOKEN/g" config.yml
          
          # Otomatik Yeniden Başlatma Döngüsü
          for i in {1..10}; do
            echo "Oxydan v8.0 Başlatılıyor (Deneme $i/10)..."
            python lichess-bot.py && break || echo "Bot çöktü veya durdu, 5 saniye içinde tekrar denenecek..."
            sleep 5
          done
