name: Oxydan Lichess Bot

on:
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v3

      - name: Python Kurulumu
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Ethereal Motorunu Derle
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential clang
          cd src
          clang -O3 -std=gnu11 -Wall -Wextra -DNDEBUG -flto -DUSE_NNUE=0 -march=native *.c pyrrhic/tbprobe.c -lpthread -lm -o Ethereal
          chmod +x Ethereal
          cd ..

      - name: Gerekli Kutuphaneleri Kur
        run: |
          pip install chess python-chess berserk requests

      - name: Botu Lichess'e Bagla
        env:
          LICHESS_TOKEN: ${{ secrets.LICHESS_TOKEN }}
        run: |
          python lichess-bot.py
